body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

body {
    background-color: #1c1b1b;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
  color: #e0e0e0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px; }

.wrapper {
  max-width: calc(850px - (30px));
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }
  @media screen and (min-width: 800px) {
    .wrapper {
      max-width: calc(850px - (30px * 2));
      padding-right: 30px;
      padding-left: 30px; } }

.wrapper:after {
  content: "";
  display: table;
  clear: both; }

pre,
code {
  font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
  font-size: 0.9375em;
  border-radius: 3px; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto;
  padding: 20px;
  background: #0f0f0f;
/*  border-radius: 20px;*/
 }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

hr {
  margin-top: 30px;
  margin-bottom: 30px; }

main {
  display: block; }

img {
  max-width: 100%;
  vertical-align: middle; }

p img:first-child:last-child {
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); }

figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #fff; }

a {
  color: #86bb48;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

blockquote {
  border-left: 10px solid #86bb48;
  padding-left: 15px;
  font-size: 1.125rem;
  letter-spacing: -1px;
  margin: 30px 0;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(134, 187, 72, 0.1); }
  blockquote > :last-child {
    margin-bottom: 0; }

table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden; }
  table tr:nth-child(even) {
    background-color: #3c3c3c; }
  table th, table td {
    padding: 10px 15px; }
  table th {
    background-color: #454545; }
  @media screen and (max-width: 800px) {
    table {
      display: block;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar; } }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title,
.post-content h1 {
  font-size: 2.625rem;
  letter-spacing: -1px;
  line-height: 1.15; }
  @media screen and (min-width: 800px) {
    .post-title,
    .post-content h1 {
      font-size: 2.625rem; } }

.post-content h1, .post-content h2, .post-content h3 {
  margin-top: 30px; }
.post-content h4, .post-content h5, .post-content h6 {
  margin-top: 30px; }
.post-content h2 {
  font-size: 1.75rem; }
  @media screen and (min-width: 800px) {
    .post-content h2 {
      font-size: 2rem; } }
.post-content h3 {
  font-size: 1.375rem; }
  @media screen and (min-width: 800px) {
    .post-content h3 {
      font-size: 1.625rem; } }
.post-content h4 {
  font-size: 1.25rem; }
.post-content h5 {
  font-size: 1.125rem; }
.post-content h6 {
  font-size: 1.0625rem; }

article, .comments, .box {
  padding: 30px;
  background: #272726;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  margin: 25px 0; }
  @media screen and (max-width: 600px) {
    article, .comments, .box {
      padding: 0;
      background: transparent;
      box-shadow: none; } }

@media screen and (min-width: 600px) {
  .comments {
    padding: 15px 30px; } }

.page-content {
  margin-top: 80px; }

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #0f0f0f;
  border-bottom: 2px solid #86bb48;
  padding-left: 20px;
  font-weight: 600; }

.site-title {
  font-size: 1.625rem;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title:hover {
    text-decoration: none; }
  @media screen and (max-width: 600px) {
    .site-title {
      padding-right: 45px; } }

.site-icon {
  position: absolute;
  left: 47%;
  top: 100%;
  margin-top: -47px;
  width: 70px;
  height: 70px;
  padding: 14px;
  background: #272726;
  border-radius: 50%; }
  @media screen and (max-width: 600px) {
    .site-icon {
      width: 50px;
      height: 50px;
      margin-top: -25px; } }

.site-nav {
  position: absolute;
  top: 9px;
  right: 15px;
  border-radius: 5px;
  text-align: right; }
  .site-nav .nav-trigger {
    display: none; }
  .site-nav .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center; }
    .site-nav .menu-icon > svg path {
      fill: #86bb48; }
  .site-nav label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer; }
  .site-nav input ~ .trigger {
    clear: both;
    display: none; }
  .site-nav input:checked ~ .trigger {
    display: block;
    background: #0f0f0f;
    border-radius: 20px;
    padding: 10px; }
  .site-nav .page-link {
    display: block;
    padding: 5px 10px; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 0; }
    .site-nav .page-link:hover {
      text-decoration: none; }
  @media screen and (min-width: 800px) {
    .site-nav {
      flex: 1;
      position: static;
      float: right;
      border: none;
      background-color: inherit;
     /* height: 100%; */}
      .site-nav label[for="nav-trigger"] {
        display: none; }
      .site-nav .menu-icon {
        display: none; }
      .site-nav input ~ .trigger {
        display: block;
        height: 100%; }
      .site-nav .page-link {
        display: inline-flex;
        align-items: center;
        height: 100%; }
        .site-nav .page-link.active {
          background-color: #86bb48;
          color: #0f0f0f; } }

.home-box {
  padding: 0;
  overflow: hidden; }
  .home-box .post-link {
    color: inherit;
    display: block;
    padding: 30px;
    transition: .3s background-color; }
    .home-box .post-link:not(:last-child) {
      border-bottom: 1px solid #0f0f0f; }
    .home-box .post-link:hover {
      text-decoration: none;
      background-color: #0f0f0f; }
    .home-box .post-link h3 {
      margin: 0; }

.site-footer .footer {
  display: flex;
  padding: 15px;
  padding-bottom: 40px; }

.footer-title {
  flex: 1; }

.footer-social-links svg {
  width: 20px;
  height: 20px;
  fill: #86bb48; }
.footer-social-links a:not(:first-child) {
  margin-left: 6px; }

.highlight .c {
  color: #586e75;
  font-style: italic; }
.highlight .err {
  color: #dc322f; }
.highlight .k {
  color: #93a1a1;
  font-weight: bold; }
.highlight .o {
  color: #93a1a1;
  font-weight: bold; }
.highlight .cm {
  color: #586e75;
  font-style: italic; }
.highlight .cp {
  color: #586e75;
  font-weight: bold; }
.highlight .c1 {
  color: #586e75;
  font-style: italic; }
.highlight .cs {
  color: #586e75;
  font-weight: bold;
  font-style: italic; }
.highlight .gd {
  color: #dc322f; }
.highlight .gd .x {
  color: #dc322f; }
.highlight .ge {
  color: #839496;
  font-style: italic; }
.highlight .gr {
  color: #dc322f; }
.highlight .gh {
  color: #586e75; }
.highlight .gi {
  color: #859900; }
.highlight .gi .x {
  color: #859900; }
.highlight .go {
  color: #839496; }
.highlight .gp {
  color: #839496; }
.highlight .gs {
  color: #93a1a1;
  font-weight: bold; }
.highlight .gu {
  color: #586e75; }
.highlight .gt {
  color: #dc322f; }
.highlight .kc {
  color: #93a1a1;
  font-weight: bold; }
.highlight .kd {
  color: #93a1a1;
  font-weight: bold; }
.highlight .kp {
  color: #93a1a1;
  font-weight: bold; }
.highlight .kr {
  color: #93a1a1;
  font-weight: bold; }
.highlight .kt {
  color: #6c71c4;
  font-weight: bold; }
.highlight .m {
  color: #2aa198; }
.highlight .s {
  color: #d33682; }
.highlight .na {
  color: #2aa198; }
.highlight .nb {
  color: #268bd2; }
.highlight .nc {
  color: #6c71c4;
  font-weight: bold; }
.highlight .no {
  color: #2aa198; }
.highlight .ni {
  color: #6c71c4; }
.highlight .ne {
  color: #6c71c4;
  font-weight: bold; }
.highlight .nf {
  color: #268bd2;
  font-weight: bold; }
.highlight .nn {
  color: #839496; }
.highlight .nt {
  color: #268bd2; }
.highlight .nv {
  color: #2aa198; }
.highlight .ow {
  color: #93a1a1;
  font-weight: bold; }
.highlight .w {
  color: #586e75; }
.highlight .mf {
  color: #2aa198; }
.highlight .mh {
  color: #2aa198; }
.highlight .mi {
  color: #2aa198; }
.highlight .mo {
  color: #2aa198; }
.highlight .sb {
  color: #d33682; }
.highlight .sc {
  color: #d33682; }
.highlight .sd {
  color: #d33682; }
.highlight .s2 {
  color: #d33682; }
.highlight .se {
  color: #d33682; }
.highlight .sh {
  color: #d33682; }
.highlight .si {
  color: #d33682; }
.highlight .sx {
  color: #d33682; }
.highlight .sr {
  color: #859900; }
.highlight .s1 {
  color: #d33682; }
.highlight .ss {
  color: #d33682; }
.highlight .bp {
  color: #586e75; }
.highlight .vc {
  color: #2aa198; }
.highlight .vg {
  color: #2aa198; }
.highlight .vi {
  color: #2aa198; }
.highlight .il {
  color: #2aa198; }
